[submodule "JKerMor"]
	path = JKerMor
	url = https://github.com/KerMor/JKerMor.git 
[submodule "JRB"]
	path = JRB
	url = https://github.com/JaRMoS/jrb.git
[submodule "JaRMoSBase"]
	path = JaRMoSBase
	url = https://github.com/JaRMoS/jarmosbase.git
[submodule "JaRMoSA"]
	path = JaRMoSA
	url = https://github.com/JaRMoS/jarmosa.git
[submodule "JaRMoSModels"]
	path = JaRMoSModels
	url = https://github.com/JaRMoS/models.git
[submodule "JaRMoSPC"]
	path = JaRMoSPC
	url = https://github.com/JaRMoS/jarmospc.git
[submodule "matlabtojarmos"]
	path = matlabtojarmos
	url = https://github.com/KerMor/matlabtojarmos.git
